@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Services>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Umbraco.Field("serviceContent")
                 </div>
            </div>
        </div>
    </div>